<ul  class="list-group">
    <li class="list-group-item">
      <table>
        <thead> 
          <tr>
            <th>Id</th>
            <th>Marka</th>
          </tr>
        </thead>
        <tr  *ngFor="let brand of brands">
          <td>{{brand.brandId}}</td>
          <td>{{brand.brandName}}</td>
        </tr>
      </table>
    </li>
    <li class="list-group-item"></li>

   
  </ul>

  <!-- <table>
    <thead> 
      <tr>
        <th>Id</th>
        <th>Marka</th>
      </tr>
    </thead>
    <tr >
      <td>{{brand.brandId}}</td>
      <td>{{brand.brandName}}</td>
    </tr>
  </table> -->